### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
%matplotlib inline
%matplotlib notebook

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)

## Player Count

* Display the total number of players

In [2]:
# Calculate the total number of players and add column to data frame
total_players = len(purchase_data_df["SN"].value_counts())

player_count = pd.DataFrame({"Total Players": [total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate Purchasing Analysis Totals (Number of Unique Items, Average Price, Number of Purchases, Total Revenue)
unique = len(purchase_data_df["Item Name"].unique())
average = purchase_data_df["Price"].mean()
amount = purchase_data_df["Purchase ID"].count()
revenue = purchase_data_df["Price"].sum()

# Create a summary data frame and format it
summary_df = pd.DataFrame({"Number of Unique Items": [unique],
                           "Average Price": [average],
                           "Number of Purchases": [amount],
                           "Total Revenue": [revenue]})

summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group purchase data by "Gender"
gender = purchase_data_df.groupby("Gender")

# Count the total number of screen names ("SN") by gender
total_gender = gender.nunique()["SN"]

# Percentage of players 
pct_players = total_gender / total_players * 100

# Create a summary data frame and format it
gender_df = pd.DataFrame({"Total Count": total_gender, "Percentage of Players": pct_players})

gender_df.index.name = None

gender_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate purchase count by gender
purchase_count_gender = gender["Purchase ID"].count()

# Calculate average purchase price by gender
avg_pp_gender = gender["Price"].mean()

# Calculate total purchase value by gender
tot_pv_gender = gender["Price"].sum()

# Calculate average purchase total per person by gender
avg_pt_gender = tot_pv_gender/total_gender

# Create a summary data frame and format it
purchase_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count_gender,
                                 "Average Purchase Price": avg_pp_gender,
                                 "Total Purchase Value": tot_pv_gender,
                                 "Average Total Purchase Per Person": avg_pt_gender})

purchase_analysis_gender.index.name = "Gender"

purchase_analysis_gender.style.format({"Average Purchase Price":'${:,.2f}',
                                  "Total Purchase Value":'${:,.2f}',
                                  "Average Total Purchase Per Person":'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Create the names for the bins
age_groups = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39", "40+"]

# Categorize existing players using the age bins
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_groups, include_lowest=True)

# Calculate the numbers and percentages by age group
age = purchase_data_df.groupby("Age Groups")

total_age = age.nunique()["SN"]

pct_age = (total_age / total_players)* 100

# Create a summary data frame and format it
age_demo = pd.DataFrame({"Total Count": total_age,
                        "Percentage of Players": pct_age})

age_demo.index.name = None

age_demo.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Calculate purchase count by age
purchase_count_age = age["Purchase ID"].count()

# Calculate average purchase price by age
avg_pp_age = age["Price"].mean()

# Calculate total purchase value by age
tot_pv_age = age["Price"].sum()

# Calculate average total purchase per person by age
avg_pt_age = tot_pv_age/total_age

# Create summary data frame with purchasing analysis data (age)
purchase_analysis_age = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_pp_age,
                                 "Total Purchase Value": tot_pv_age,
                                 "Average Total Purchase Per Person": avg_pt_age})

purchase_analysis_age.index.name = "Age Ranges"

purchase_analysis_age.style.format({"Average Purchase Price":'${:,.2f}',
                                  "Total Purchase Value":'${:,.2f}',
                                  "Average Total Purchase Per Person":'${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Group purchase data by "SN"
spenders = purchase_data_df.groupby("SN")

# Calculate purchase count by spenders
purchase_count_spenders = spenders["Purchase ID"].count()

# Calculate average purchase price by spenders
avg_pp_spenders = spenders["Price"].mean()

# Calculate total purchase value by spenders
tot_pv_spenders = spenders["Price"].sum()

# Create a summary data frame for the values
purchase_analysis_spenders = pd.DataFrame({"Purchase Count": purchase_count_spenders,
                                 "Average Purchase Price": avg_pp_spenders,
                                 "Total Purchase Value": tot_pv_spenders})

# Sort in descending order
formatted_spenders = purchase_analysis_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Create a new data frame with item info
items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items_df.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
pv_item = (item_stats["Price"].sum()) 

# Find individual item price
item_price = pv_item/purchase_count_item

# Create data frame with obtained values
pop_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":pv_item})

# Sort in descending order to obtain top spender names and provide top item names
popular_formatted = pop_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sort the total purchase value in descending order
popular_formatted = pop_items.sort_values(["Total Purchase Value"], ascending=False).head()
popular_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80